.singlePost {
    margin-top: 50px;
    font-family: 'Noto Sans TC', sans-serif;
  }
  
  .singlePostWrapper {
    padding: 0px;
    padding-right: 100;
    text-align: center
  }
  

  .singlePostImg {
    max-width: 60%;
    max-height: 60%;
    padding-top: 50px;
  }

  .singlePostImgTwo {
    max-width: 30%;
    max-height: 30%;
    padding-top: 50px;
    padding-left: 10px;
  }
  
  .singlePostTitle {
    text-align: center;
    margin: 10px;
    font-size: 28px;
    padding-top: 20px;
  }

  .singlePostTitleline {
    text-align: center;
    margin: 0px;
    font-size: 28px;
    padding-top: 0px;
  }

  .singlePostTitlelineunder {
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    padding-top: 0px;
    padding-bottom: 70px;
  }
  
  .singlePostEdit {
    float: right;
    font-size: 16px;
  }
  
  .singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
  }
  
  .singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #be9656;
    font-family: 'Satisfy', cursive;
  }
  
  .singlePostAuthor{
    margin-left: 5px;
  }
  
  .singlePostDesc {
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 40px;
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;

  }
  
  .singlePostDesc::first-letter {
    margin-left: 20px;

  }

  .headerImg{
    width: 100%;
    height: 750px;
    object-fit: cover;
    
}