.posts{
    flex: 17;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.posts1{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content:center;
}
.posts2{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content:center;
}
